<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
        <serverUrl url="https://www.arcgis.com"
          username="username"
          password="password"
          matchAll="true">
        </serverUrl>        
        <serverUrl url="http://statesales.maps.arcgis.com"
          username="username"
          password="password"
          matchAll="true">
        </serverUrl>
        <serverUrl url="https://geoenrich.arcgis.com"
          username="username"
          password="password"
          matchAll="true">
        </serverUrl>
        <serverUrl url="http://geoenrich.arcgis.com"
          username="username"
          password="password"
          matchAll="true">
        </serverUrl>
        <serverUrl url="http://services6.arcgis.com"
          matchAll="true">
        </serverUrl>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
